page-login {
    .login-content{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        height: 100%;
        width:100%;
    }
}