<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SEARCH_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
 <!-- <ion-searchbar (ionInput)="getItems($event)" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"></ion-searchbar>-->
 <ion-card no-padding>
   <ion-card-content>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <h2>{{item.text}}</h2>
      <ion-note item-end *ngIf="item.descr">{{item.desrc}}</ion-note>
    </button>
  </ion-list>
</ion-card-content>
<button ion-button>Деньги</button>
<button ion-button color="secondary">Материалы</button>
<button ion-button color="danger">Акт</button>

</ion-card>
</ion-content>