<!--
  Generated template for the ProjectsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PROJECTS_TITLE' | translate }}</ion-title>
    
    <ion-buttons end>
      <button ion-button [disabled]="!isHaveAddPermission" icon-only (click)="addProject()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content no-padding >
  <ion-list >
    <ion-row no-padding ><ion-col  *ngFor="let project of projectsList" no-padding >
    <ion-card style="min-width: 300px"  no-padding >
      <ion-item-sliding #item{{project.id}}>
      <ion-item no-padding>
        <ion-avatar item-start>
          <!--<img [src]="item.user.avatar">-->
        </ion-avatar>
        <h2 (click)='openProject(project)'>{{project.project_name}}</h2>
        <ion-note>{{project.description}}</ion-note>
        <button item-end ion-button color="primary" clear (click)='project.show=!project.show'>
          <ion-icon name="arrow-down"></ion-icon>
        </button>
      </ion-item>

      <ion-item-options>
          <button ion-button color="secondary" (click)="more(project.id)">
            <ion-icon name="menu"></ion-icon>
            More
          </button>
          <button ion-button color="dark" (click)="mute(project.id)">
            <ion-icon name="volume-off"></ion-icon>
            Mute
          </button>
          <button ion-button color="danger" (click)="delete(project.id)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
  
        <ion-item-options side="left" (ionSwipe)="archive(item)">
          <button ion-button color="primary" expandable (click)="archive(item)">
            <ion-icon name="archive" class="expand-hide"></ion-icon>
            <div class="expand-hide">Archive</div>
            <ion-spinner id="archive-spinner"></ion-spinner>
          </button>
        </ion-item-options>
  
    </ion-item-sliding>

      <!--<img [src]="item.image">-->
  
      <ion-card-content *ngIf='project.show'>
          <ion-note (click)='openProject(project)'>описание</ion-note>

        </ion-card-content>
  
      <ion-row *ngIf='project.show'>
        <ion-col>
          <button ion-button color="primary" clear small icon-start >
              <ion-icon name='thumbs-up'></ion-icon>
              12 Likes
            </button>
        </ion-col>
        <ion-col>
          <button ion-button color="primary" clear small icon-start>
              <ion-icon name='text'></ion-icon>
              4 Comments
            </button>
        </ion-col>
        <ion-col style="min-width: 150px;display: flex !important;align-items: center;"  center text-center>
          <ion-note>{{project.manager}}</ion-note>
        </ion-col>
      </ion-row>
      </ion-card>
    </ion-col></ion-row>
  </ion-list>
</ion-content>
