<!--
  Generated template for the AdminPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{adminTitle}}</ion-title>
    <ion-toolbar>                   
       <ion-searchbar small [(ngModel)]="query" placeholder="поиск"></ion-searchbar>
       <button ion-button color="primary" clear  icon-start small (click)="addUser()">
          <ion-icon name='person-add'></ion-icon>
          Пользователь
      </button>
      <button ion-button color="primary" clear  icon-start small (click)="addUser()">
          <ion-icon name='person-add'></ion-icon>
          Контрагент
      </button>
</ion-toolbar>
  </ion-navbar>

</ion-header>

<!--<ion-header>
    <ion-navbar [attr.no-border-bottom]="showToolbar ? '' : null">
        <ion-title>Example</ion-title>
    </ion-navbar>

    <ion-toolbar *ngIf="showToolbar" no-border-top>
        <ion-segment [(ngModel)]="segment" primary>
            <ion-segment-button value="1">Segment 1</ion-segment-button>
            <ion-segment-button value="2">Segment 2</ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
-->
<ion-content >
<!-- <ion-card>
        <ion-card-header >
              <ion-row>
                  <ion-col><h2>{{adminUserCardItems.name}}</h2></ion-col> 
              </ion-row> 
        </ion-card-header>  
      -->
      <ion-card>
        <ion-list >
            <ion-item-group>
                <ion-item-divider color="light">
                  <ion-label item-start>Пользователи:</ion-label>
                    <ion-buttons item-end>
                        <button ion-button clear small icon-only (click)="addUser()">
                          <ion-icon name="add"></ion-icon>
                        </button>
                      </ion-buttons>                  
                </ion-item-divider>
                <ion-item-sliding  *ngFor="let item of adminUserCardItems.list | filter : query" >
                <button ion-item (click)='openItem(item)' >
                        <ion-label><h5>{{item.last_name+' '+item.username}}</h5></ion-label>
                        <ion-label><p>{{item.role_in_project}}</p></ion-label>
                        <ion-toggle item-end  [(ngModel)]='item.active' (ionChange)='toggleUserActive($event, item)' ></ion-toggle>
                </button>
                <ion-item-options>
                    <button ion-button color="danger" (click)="delUserConfirmation(item)">
                      {{delButtonTitle}}
                    </button>
                  </ion-item-options>
        
              </ion-item-sliding>
          </ion-item-group>
        </ion-list>  
 <!--  </ion-card>-->
</ion-card>
<ion-card>
<ion-list >
    <ion-item-group>
        <ion-item-divider color="light">
          <ion-label item-start>Контрагенты:</ion-label>
            <ion-buttons item-end>
                <button ion-button clear small icon-only (click)="addUser()">
                  <ion-icon name="add"></ion-icon>
                </button>
              </ion-buttons>                  
        </ion-item-divider>
        <ion-item-sliding  *ngFor="let item of adminContrCardItems.list | filter : query" >
        <button ion-item (click)='openItem(item)' >
                <ion-label><h5>{{item.org_short_name}}</h5></ion-label>
                <ion-label><p>{{item.org_name}}</p></ion-label>
                <ion-toggle item-end  [(ngModel)]='item.active' (ionChange)='toggleContrActive($event, item)' ></ion-toggle>
        </button>
        <ion-item-options>
            <button ion-button color="danger" (click)="delContrConfirmation(item)">
              {{delButtonTitle}}
            </button>
          </ion-item-options>

      </ion-item-sliding>
  </ion-item-group>
</ion-list> 
</ion-card>
</ion-content>
