<!--
  Generated template for the UserItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{item.last_name+' '+item.username}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>  
     <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()" >
      <div class="profile-image-placeholder" [style.backgroundImage]="getProfileImagePlaceholderStyle()" *ngIf="!this.form.controls.profilePic.value">
       <!-- <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>-->
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
    </div>

    <ion-list> 
      <ion-item-group>
                <ion-item-divider no-padding>
                    <ion-row style="align-items: center;">
                        <ion-col>
                          {{item.last_name+' '+item.username}}
                        </ion-col>
                        <ion-col>
                            <ion-item style="background-color: transparent;">
                                <ion-note item-end small>Активный</ion-note><ion-toggle [(ngModel)]="item.active" checked="{{item.active}}"></ion-toggle>
                            </ion-item>
                        </ion-col>      
                    </ion-row>              
                </ion-item-divider>
  
          <ion-item>
              <ion-label stacked color="primary">Имя</ion-label>
                <ion-input [disabled]="!item.active"  type="text" [(ngModel)]="item.username"></ion-input>
          </ion-item>  
          <ion-item>
              <ion-label stacked color="primary">Фамилия:</ion-label>
              <ion-input  [disabled]="!item.active" type="text" [(ngModel)]="item.last_name"></ion-input>
          </ion-item>  
          <ion-item>
              <ion-label stacked color="primary">e-mail:</ion-label>
              <ion-input  [disabled]="!item.active" type="email" [(ngModel)]="item.email"></ion-input>
          </ion-item>  
          <ion-item>
              <ion-label stacked color="primary" >Пароль:</ion-label>
              <ion-input [disabled]="true"  type="password" style="font-size:10px" [(ngModel)]="dummy_pass"></ion-input>
              <button ion-button item-end color="light" [disabled]="!item.active">reset</button>
          </ion-item>  
          <ion-item>
              <ion-label stacked color="primary" >Организация:</ion-label>
              <ion-input  [disabled]="!item.active" type="text" [(ngModel)]="item.organization"></ion-input>
          </ion-item>  
          <ion-item>
              <ion-label stacked color="primary"  >Описание краткое:</ion-label>
              <ion-input  [disabled]="!item.active" type="text-aria" [(ngModel)]="item.description"></ion-input>
          </ion-item>  
          <ion-item>
              <ion-label stacked color="primary">Роль в проекте:</ion-label>
              <ion-select [disabled]="!item.active" [(ngModel)]="item.role_in_project" interface="popover" >
                <ion-option *ngFor="let option of dir.role_in_project" value="{{option.value}}">{{option.label}}</ion-option>
              </ion-select>
          </ion-item> 
          <ion-item>
              <ion-label stacked color="primary">Статус в проекте:</ion-label>
              <ion-select [disabled]="!item.active" [(ngModel)]="item.status" interface="popover" >
                <ion-option *ngFor="let option of dir.status" value="{{option.value}}">{{option.label}}</ion-option>
              </ion-select>
          </ion-item> 
          <ion-item>
              <ion-label stacked color="primary" >Флаг-контрагент:</ion-label>
              <ion-toggle [disabled]="!item.active"  [(ngModel)]="item.contragent_flag"></ion-toggle>
          </ion-item>  
          <ion-item>
              <ion-label stacked color="primary" >Флаг-группа:</ion-label>
              <ion-toggle [disabled]="!item.active" [(ngModel)]="item.group_flag"></ion-toggle>
          </ion-item>  
          <ion-item>
              <ion-label stacked color="primary" >Флаг-пользователь:</ion-label>
              <ion-toggle  [disabled]="!item.active" [(ngModel)]="item.user_flag"></ion-toggle>
          </ion-item> 
      </ion-item-group>
      <button ion-button block [disabled]="!item.active" (click)="updateUser(item)" >Принять</button>

    </ion-list>
</ion-content>
<div >
</div>
